<launch>

  <!-- xycar_motor -->
  <include file="$(find xycar_motor)/launch/xycar_motor.launch"/>

  <!-- usb_cam -->
  <node name="usb_cam" output="screen" pkg="usb_cam" type="usb_cam_node">
    <param name="video_device" value="/dev/videoCAM" />
    <param name="autoexposure" value="false" />
    <param name="exposure" value="70" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap" />
  </node>

  <include file="$(find xycar_lidar)/launch/lidar_noviewer.launch" />

  <include file="$(find xycar_ultrasonic)/launch/xycar_ultrasonic_noviewer.launch" />

  <!--node name="rosbag" pkg="rosbag" type="play" args="-l $(find final_project)/launch/image.bag"-->

  <node name="final_project" output="screen" pkg="final_project" type="final.py" />

</launch>
